*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h1{
    text-align: center;
    background-color: #467C8EFA;
}
.container{
    position: relative;
    thead{
        background-color: #6B728E;
        color: white;
      }
}
body{
    display: flex;
    flex-direction: column;
    .search{
        border: none;
        &:hover{
            background-color: green;
        }
    }
}

.staff-root{
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    background-color:rgba(193, 210, 245, 0.62) ;
    justify-content: center;
    align-items: center;
    .cancel{
        position: absolute;
        font-size: 40px;
        display: flex;
        justify-content: end;
        left: 10px;
        transition: .1s;
        &:hover{
            color: red;
        }
    }
    .staff{
        background-color: #dddcdc;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.6);
        width: 60%;
       
        i{
            position: relative;
            right: 15px;
        }
        button{
            i{
                right: 0px;
            }
        }
        .form-control{
            border: none;
        }
    }
}

.staff-edit-root{
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    background-color:rgba(193, 210, 245, 0.62) ;
    justify-content: center;
    align-items: center;
    .cancel{
        position: absolute;
        font-size: 40px;
        display: flex;
        justify-content: end;
        left: 10px;
        transition: .1s;
        &:hover{
            color: red;
        }
    }
    .staff-edit{
        background-color: #dddcdc;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.6);
        width: 60%;
        i{
            position: relative;
            right: 15px;
        }
        button{
            i{
                right: 0px;
            }
        }
        .form-control{
            border: none;
        }
    }
}

.hidden{
    display: none;
}